.table tr td:hover:nth-child(4){
    background-color: red;
    color: aliceblue;
    border: 0.5px solid black;
}

.table tr td:hover{
    background-color: green;
    color: aliceblue;
    border: 0.5px solid black;
}
.thead-dark{
    font-weight: bold;
    text-transform: uppercase;
}
.table td,
.table th{
    padding: 0.75rem;
    vertical-align: top;
    border-top: none;
}
td:hover ::after,
th:hover ::after{
    content: "";
    position: absolute;
    background-color: #f2f2f2;
    left: 0;
    height: 5000px;
    width: 100%;
    z-index: -1;

}