.todoform{
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.modernInput{
    width: 100%;
    border: none ;
    display: block;
    color: black;
    font-size: 16px;

}
.modernInput:focus{
    outline: none;
}
.modernBtn{
    display: inline-block;
    border: none;
    border-radius: 4px;
    background-color: #f7ca18;
    padding: 12px;
    color:white;
    cursor: pointer;

}
.inputContainer{
    display: flex;
}

.todolist{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
}
.item{
   width: 500px;
   color:#353935 ;
   font-size: 20px;
    margin: 0 auto;
}

.itemName{
    font-weight: bold;
    padding: 20px;


}
.line{
    border: 1px solid #f0f0f0;
}
.deletebtn{
    float: right;
    padding: 12px 20px;
    border: none;
    background-color: #f7ca18;
    color: white;
    margin-top: -5px;
    border-radius: 4px;
    cursor: pointer;
}
.completed{
    text-decoration: line-through;
}
.footer{
    position: fixed;
    bottom: 0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width: 100%;
    background-color: #f7ca18;
    padding: 10px;
}
.footerItem{
    margin: 50px;
}