*{
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.heading{
    color: #be511b;
    text-align: center;
    text-transform: capitalize;
    text-shadow: 0px 2px 4px #ffe9c5;
    font-weight: bold;
} 
.img_div{
    /* display: flex;
    justify-content: center; */
}
.img_div img{
    width: 250px;
    height: 300px;
}
.greet{
    display: flex;
    justify-content: center;
    background: #f9e7b1;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}
.parentgreet{
    background: #b4f2e1;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: #d2dbdd;
}
.card{
    margin: 6%;
    transition: all 0.4 cubic-bezier(0.175,0.885,0,1);
    background-color: white;
    width: 21%;
    border-radius: 15px;
    box-shadow: 0 13px 10px -7px rgba(0,0,0,0.1);
    float: left;
    height: max-content;
    max-height: 400px;

}
.card-img-top{
    /* height: 50%;
    width: 100%; */
    width: 300px;
    height: 250px;
}
.card:hover{
    box-shadow: 0 30px 18px -8px rgba(0,0,0,0.1);
    transform: scale(1.05,1.05);
}

.heading_style{
    font-weight: 500;
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #868686;
}
.btn_go{
    text-transform: uppercase;
    color: #868686;
    font-size: 13px;
    border: none;
    background: white;
    text-align: center;
    margin: auto;
    padding: 5px 8px;
    letter-spacing: 2px;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
}
.basic{
    display: flex;
    WIDTH: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nameValue{
    width: 500px;
    height: 70px;
    margin-bottom: 20px;
}

.main_div{
    width: 100%;
    height: 100vh;
    background-color: #6983aa;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.center_div{
    width: 25%;
    height: 80vh;
    background-color: white;
    box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);
    border-radius: 15%;
}
.h1List{
    color: white;
    background-color: transparent;
    background-color: #8566aa;
    padding: 6px 0 2px 0;
    margin-bottom: 10px;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.5);

}
.addItem{
    text-align: center;
    height: 30px;
    top:10px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 500;
    width: 60%;
    border-bottom: 2px solid #8566aa;
    outline: none;
}
.addButton{
    min-height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #8566aa;
    border-color: transparent;
    color: white;
    font-size: 40px;
    outline: none;
    margin-left: 10px;
    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.5);


}
.addButton:hover{
    background-color: green;
}
.olItem{
    margin-top: 30px;
}

.liItem{
    padding-left: 0;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    min-height: 20px;
    display: flex;
    align-items: center;
    color: #8566aa;
    text-transform: capitalize;


}
.todo_style{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
}
.todo_style .fa-times{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8566aa;
    border-radius: 50%;
    margin: 0 15px 0 35px;
    color: white;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.5);
}
.todo_style .fa-times:hover{
    background-color: red;
}
.deleteIcon :hover{
    fill: red;
}