.main{
    display: grid;
    place-items: center;
    background-color: #dadbd3;
    height: 100vh;
}


.main_body{
    display: flex;
    height: 90vh;
    background-color: #ededed;
    width: 90vw;
    box-sizing: 1px 4px 20px 6px rgba(0,0,0,0.2);
}