.header{
    width: 100%;
    line-height: 100px;
    background-color: #f5ba13;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 50px;
    color:white;
    font-size: 20px;
}
.main_note{
    display: flex;
    justify-content: center;
}
.main_form{
    display: flex;
    flex-direction: column;
    box-shadow: rgba(17,17,26,0.05) 0px 1px 0px,rgba(17,17,26,0.1) 0px 0px 8px;

}
.deleteIcon{
    width: 0.7em;
    height: 0.7em;
}
.note:hover{
    background-color: #f5ba13;
    color: white;
}
.note .btn{
    position: relative;
    float: right;
    margin-right: 10px;
    color: #f4b400;
    border: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    box-shadow: 3px 3px 14px -10px rgba(17,17,26,0.05);
    border-radius: 50%;
}
.note p{
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.note h1{
    font-size: 1.1em;
    margin-bottom: 6px;
}
.note{
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;

}
textarea{
    width: 100%;
    line-height: 30px;
    background-color: transparent;
    border: none;

}
input{
    width: 100%;
    line-height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.5rem;
    margin: 10px 0;
    font-weight: bold;

}
form{
    min-height: 50px;
    color:#ecf0f1;
    padding: 15px 10px;
    border-radius: 10px;
    position: relative;
    box-shadow: 3px 5px 15px -5px rgba(17,17,26,0.05);
}
.my_note h1{
    color: #34495e;
}
.my_note p{
    color: grey;
}
.my_note{
    width: 500px;
    padding: 15px 10px;
    margin: 20px auto;
}
.note{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 20%;
}