.color-picker-panel {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .color-picker-choose {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 5px;
    cursor: pointer;
  }
  
  .color-picker-choose:first-child {
    margin-left: 0;
  }
  
  .selected {
    border: 2px solid #606060;
  }