
.header{
  width: 500px;
    height: 150px;
    background: #d5caca;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #fafafa;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    font-family: cursive;
}
.data{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    width: 200px;
    border: 2px solid #9e8f8f;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
    height: 300px;
    font-size: 20px;
    /* font-weight: bold; */
    text-align: center;
    justify-content:space-between
}
.weatherData{
  display: flex;
  justify-content: center;
  font-family: cursive;
  
}
.dayofweek{
    font-size: 35px;
    font-weight: bold;
}
/* calculator css */
.btns , .inputdisplay{
  border: 1px solid #ada0a0;
  width: 200px;
  text-align: center;
  margin: auto;
}
.inputdisplay{
  padding: 5px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #d8b2c1;
  padding: 10px;

}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.grid-item{
  border: none;
}

/* notes */

.searchInput{
  border: none;
  border-bottom: 1px solid #e3e4dc;
  padding: 10px 20px;
  width: 85%;
  outline: none;
  font-size: 16px;
  color: #393e46;
}

.addnotes{
    display: inline-block;
    width: 50%;
    box-shadow: 0px 1px 10px 2px rgba(0, 0, 0, 0.2);
}
.btnnote{
    background: #dadae3;
    border-radius: 15px;
    border: 2px solid transparent;
    width: 5em;
    font-size: 15px;
    font-weight: bold;
}

.notestitle{
  font-weight: bold;
}
.notesdesc{

}
.showallotes{
  display: flex;            
  flex-wrap: wrap;           
  overflow-y: auto;          
  max-height: 300px;       
}
.notesinfo{
  width: 15%;
  height: 200px;
  margin: 35px;
  display: flex;
  flex-direction: column;
  border: 1px solid #d1bcbc;
  padding: 30px;
  /* height: fit-content; */
}


/* contact app */

.conatctapp{
  display: flex;
    flex-direction: column;
    align-items: center;
}
.addContact{
  width: 100%;
  margin: 3%;
}
.btn{
  height: max-content;
}
.contacts{
  font-size: 1.5em;

}
.contactinfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 43%;
    margin: auto;
    padding: 0 20px;
    font-size: 1em;
}
.contacttitle{
  font-weight: 600;
}
.contactbody{
  margin: 10px 0;
}
.contactphone{
  color: grey;
}


.table tr td:hover:nth-child(4){
  background-color: #393e46;
  color: #d5caca;
  border: 2px solid #d5caca;
}


.table tr td:hover:nth-child(2){
  background-color: #709079;
  color: hsl(0, 59%, 36%);
  border: 2px solid #d5caca;
}


.table tr td:hover{
  background-color: sandybrown;
  color: #e3e4dc;
  border: 2px solid ridge;

}

.thead-dark{
  font-weight: bold;
}

.searchBar{
  width: 50%;
  height: auto;
  text-align: center;
  margin: 0 auto;
}

.searchBar input{
  margin: 30px 0;
  padding: 5px 10px;
  border-radius: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.animated{
    position: relative;
    animation: myfirst 5s infinite alternate linear;
    border: 1px solid #afecf0;
    border-radius: 20px;
}
@keyframes myfirst {
  0% { right: 3em; top: -50px; }
  100% { right: 3em; top: 50px; }
}
